#headerBotiga {
  background-image: url('../img/image1.jpg');
  height: 50%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment: absolute;
}

.formulariP {
  display: inline-block;
}

.info {
  overflow: hidden;
  width: 400px;
  height: 400px;
  position: relative;
  display: inline-block;
  border-radius: 15px;
  margin: 10px;
  box-shadow: 4px 4px 15px 2px rgba(0, 0, 0, 0.35);
}

.info img {
  width: 400px;
  height: 400px;
  transition: 0.4s;
}

.info .caption {
  position: absolute;
  top: 150%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.70);
  transition: 0.5s;
  text-align: center;
}

.info .caption .content {
  position: relative;
  top: 10%;
  color: #fff;
}

.info .caption .content i {
  background: rgba(255, 255, 255, 0.60);
  padding: 10px;
  border-radius: 50%;
  font-size: 32px;
}

.info .caption .content input[type="submit"] {
  border: 0;
  background: #9a1919;
  padding: 7px;
}

.info:hover .caption {
  top: 0px;
}

.llista_pop_up {
  display: none;
  padding: 15px;
  width: 400px;
  height: 55%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 15px;
  border-radius: 15px;
  z-index: 9;
}
