.producte {
  background-color: grey;
  border-radius: 15px;
  display: inline-block;
  margin: 0 auto;
  margin: 3px;
}

#objeto0 {
  font-size: 20px;
  color: white;
  text-transform: uppercase;
}

#objeto2 {}
